doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div(class='collapse bg-dark' id='navbarHeader')
        div(class='container')
          div(class='row')
            div(class='col-sm-8 col-md-7 py-4')
              h4(class='text-white') About
              p(class='text-muted') Add some information about the site
            div(class='col-sm-4 offset-md-1 py-4')
              h4(class='text-white') Contact
              ul(class='list-unstyled')
                li
                  a(class='text-white' href='#') Follow on Twitter
                li
                  a(class='text-white' href='#') Email me
      div(class='navbar navbar-dark bg-dark shadow-sm')
        div(class='container d-flex justify-content-between')
          a(class='navbar-brand d-flex align-items-center' href='#')
            strong Album
          button(class='navbar-toggler collapsed' type='button' data-toggle='collapse' data-target='#navbarHeader' aria-controls='navbarHeader' aria-expanded='false' aria-label='Toggle navigation')
            span(class='navbar-toggler-icon')
    block content
